<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to your account</h1>
    <p>Account ID: <%= accountId %></p>
    <p>Account Balance: <%= balance %> $</p>
 
    <h2>Actions</h2>
    <ul>
        <li><a href="/withdraw">Withdraw Money</a></li>
        <li><a href="/deposit">Deposit Money</a></li>
        <li><a href="/transactions">View Transactions</a></li>

  

    </ul>
      <form action="/logout" method="POST" >
        <button type="submit">Logout</button>
    </form>
</body>
</html>