<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit money</title>
     <link rel="stylesheet" href="/css/deposit.css">
</head>
<body>

    <div class="container">

    <h1 class="title">Deposit Money</h1>

    <form action="/deposit" method="POST" class="form">
        <div class="form-group">
        <label class="label">Amount</label>
        <input type="number" name="amount" class="input" step="0.01" min="0.01" required>
        </div>

        <div class="form-buttons">
        <button type="submit">Deposit</button>
        </div>
    </form>


    <br>
    <a href="/dashboard">Back to Dashboard</a>
    </div>
    
</body>
</html>